.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 64px 0;
}

.title {
  margin: 0;
  font-size: 64px;
  line-height: 1.15;
  text-align: center;
}

.title small {
  display: block;
  font-size: 14px;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: normal;
  opacity: 0.5;
}

.list {
  margin: 32px 0;
  padding: 0;
  width: 65ch;
  list-style: none;
}

.list > li {
  display: flex;
  align-items: center;
}

.list > li:not(:last-of-type) {
  margin-bottom: 2px;
  padding-bottom: 2px;
  border-bottom: 2px solid var(--app-border-color);
}

.list > li > input[type=checkbox] {
  margin: 0;
  margin-right: 4px;
  width: 16px;
  height: 16px;
  accent-color: var(--app-link-color);
}

.list > li > input[type=text] {
  flex: 1;
  padding: 8px;
  font-size: 16px;
  background: none;
  border: none;
}

.list > li > button {
  padding: 0;
  width: 16px;
  height: 16px;
  font-size: 24px;
  line-height: 0;
  background: none;
  border: none;
  color: gray;
  cursor: pointer;
}

.list > li > button:hover {
  color: black;
}

.list div > span {
  cursor: pointer;
}

.add {
  padding: 8px 16px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 36px;
  cursor: pointer;
}

.footer > p {
  margin-top: 32px;
  text-align: center;
  line-height: 1.35;
}

.footer > p > a {
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
  color: var(--app-link-color);
}